.col {
  text-align: center;
}
.main-bg {
  background-image: url('./img/bg.png');
  height: 300px;
  background-size: cover;
  background-position: center;
}
.row {
  align-items: center;
  text-align: center;
}
